DATABASE_URL=postgresql+psycopg2://<your-username>:<your-password>@127.0.0.1:5432/<your-database-name>
POSTGRES_DB=your-database-name
POSTGRES_PASSWORD=your-password
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-anon-key